body,
p,
h1,
h3 {
	margin: 0;
	padding: 0;
	font-family: 'Conv_FuturaBookC';
}
a {
	text-decoration: none;
}
a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    opacity: 0.5 !important;
}
input,
ul,
li,
button,
textarea {
	outline: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0px solid black;
}
.flex {
	display: flex;
}
.header_wrap_backgrond {
	background: url(./img/main/shutterstock.jpg) no-repeat;
	background-size: cover;
}
.header_wrap_backgrond_img_red {
	background: linear-gradient(163.92deg, #F5B5C9 31.58%, rgba(245, 181, 201, 0) 64.16%);
	height: 690px;
	color: #FFFFFF;
}
.header_wrap_backgrond_img_blue {
	background: radial-gradient(33.16% 56.81% at 50.44% 66.09%, rgba(13, 70, 147, 0.285) 0%, rgba(35, 72, 122, 0.75) 100%, rgba(13, 70, 147, 0.75) 100%);
	height: 690px;
	color: #FFFFFF;
}
.header_wrap_backgrond_img a {
	color: #FFFFFF;
}
.container {
	max-width: 1366px;
	padding: 0 41px 0 39px;
	box-sizing: border-box;
	margin: 0 auto;
}
.inner_container {
	max-width: 1366px;
	padding: 0 116px;
	box-sizing: border-box;
	margin: 0 auto;
}
.inner_container_left {
	max-width: 1366px;
	padding: 0 0 0 116px;
	box-sizing: border-box;
	margin: 0 auto;
}
.header_nav {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	display: flex;
	display: -webkit-flex; /* Safari */
}
.header_nav_nav {
	display: inline-block;
	vertical-align: top;
	margin-top: 33px;
}
.header_nav_logo {
	padding-top: 19px;
	display: inline-block;
	margin-bottom: 19px;
}
.systemFiltered .header_nav_logo {
	margin-bottom: 15px;
}
.header_nav_nav li {
	display: inline-block;
	margin-left: 28px;
}
.header_nav_nav li:first-child {
	margin-left: 50px;
}
.header_nav_nav a {
	font-size: 18px;
	line-height: 20px;
}
.header_nav_contacts {
	margin-left: auto;
	display: flex;
	display: -webkit-flex; /* Safari */
}
.header_nav_contacts p {
	font-family: 'Conv_FuturaDemiC';
	font-size: 16px;
	line-height: 19px;
}
.header_nav_contacts span {
	font-size: 14px;
	line-height: 16px;
	opacity: 0.8;
}
.header_nav_contacts_dealer a {
	font-size: 18px;
	line-height: 21px;
	font-family: 'Conv_FuturaDemiC';
	margin-top: 40px;
}
.header_nav_contacts_dealer {
	margin-top: 33px;
}
.header_nav_contacts_dealer span {
	font-size: 25px;
	position: relative;
	top: 3px;
	left: -4px;
}
.header_nav_contacts_phone {
	margin-right: 44px;
	padding-top: 32px;
	padding-right: 40px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.header_content {
	display: flex;
	display: -webkit-flex;
	position: relative;
}
.header_content_text h1 {
	font-family: 'Conv_FuturaDemiC';
	font-size: 50px;
	line-height: 58px;
}
.header_content_text p {
	font-size: 22px;
	line-height: 35px;
	margin-top: 27px;
}
.header_content_text {
	width: 468px;
	margin-top: 111px;
}
.button {
	font-size: 16px;
	line-height: 19px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	color: #FFFFFF;
	box-sizing: border-box;
	height: 56px;
	border: 1px solid #FFFFFF;
	justify-content: center;
	font-family: 'Conv_FuturaDemiC';
	cursor: pointer;
}
.button220 {
	width: 220px;
}
.button220:hover {
	background: #E5006B;
	border: 0px solid #FFFFFF;
	cursor: pointer;
}
.button278 {
	width: 278px;

}
.button278:hover {
	background: #6087A4;
	border: 0px solid #FFFFFF;
	cursor: pointer;
}
.header_content_button {
	display: flex;
	display: -webkit-flex;
	margin-left: 2px;
	margin-top: 54px;
}
.header_content_button_more {
	margin-left: 24px;
}
.header_content_social ul {
	display: flex;
	display: -webkit-flex;
	margin-top: 91px;
	margin-left: 2px;
}
.header_content_social li {
	margin-left: 46px;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
	opacity: 0.8;
}
.header_content_social i {
	font-size: 21px;
}
.header_content_social li:first-child {
	margin-left: 0;
}
.header_content_img img {
	width: 291px;
	height: 441px;
	left: 774px;
	top: 163px;
}

.header_content_img {
	width: 291px;
	margin-left: auto;
	margin-top: 78px;
	position: relative;
	margin-right: 186px;
}
.header_content_img_img img {
	width: 145px;
	height: 145px;
}
.header_content_img_img {
	position: absolute;
	left: 253px;
	top: 269px;
}
.header_content_line {
	width: 66px;
	height: 105px;
	position: absolute;
	top: 129px;
	right: 116px;
}
.filters_article {
	margin-top: 54px;
}
.filters {
	display: flex;
	display: -webkit-flex;
	margin-top: 77px;
}
.filters_caption h1 {
	font-family: 'Conv_FuturaDemiC';
	font-size: 50px;
	line-height: 58px;
	color: #666C6E;
}
.filters_arrows {
	display: flex;
	margin-top: 2px;
}
.article_wrap {
	width: 358px;
	height: 562px;
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	box-sizing: border-box;
}
.article {
	padding: 32px 39px;
	position: relative;
}
.article_appoint {
	display: flex;
	display: -webkit-flex;
}
.article_appoint img {
	margin-right: 17px;
}
.article_img {
	margin-top: 9px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	height: 277px;
}
.article_img img {
	margin-top: auto;
	margin-bottom: auto;
}
.filters_article_slider {
	display: flex;
	display: -webkit-flex;
}
.article_caption {
	display: flex;
	height: 72px;
}
.article_caption h1 {
	font-size: 24px;
	line-height: 35px;
	color: #666C6E;
	margin: auto 0;
}
.article_description p {
	font-size: 18px;
	line-height: 27px;
	color: #666C6E;
	opacity: 0.8;
	max-height: 108px;
}
.article_wrap:hover {
	box-shadow: 0px 4px 25px rgba(109, 110, 134, 0.25);
}
.article_wrap:hover .article_img {
	position: absolute;
	opacity: 0.2;
}
.article_wrap:hover .article_caption {
	margin-top: 126px;
}
.article_button {
	border: 1px solid #EDEDED;
	color: #6087A4;
	display: none;
}
.article_wrap:hover .article_button {
	display: flex;
	display: -webkit-flex;
}
.article_button:hover {
	color: white;
}
.article_button_more {
	margin-top: 32px;
}
.article_button_downloadPDF {
	margin-top: 24px;
}
.diler_wrap {
	margin-top: 112px;
}
.diler {
	display: flex;
	display: -webkit-flex;
}
.diler_img {
	flex: 2.795;
	background: url(img/main/cofee.jpg) no-repeat;
	background-size: cover;
	height: 691px;
}
.diler_content {
	flex: 5;
	height: 691px;
	background: #F5B5C9;
	display: flex;
	display: -webkit-flex;
}
.diler_content_content {
	padding-left: 112px;
	margin-top: 102px;
	margin-right: auto;
}
.diler_content h1 {
	font-family: 'Conv_FuturaDemiC';
	font-size: 50px;
	line-height: 58px;
	color: #FFFFFF;
}
.diler_content_line {
	margin-top: 28px;
}
.diler_content_text {
	font-size: 22px;
	line-height: 30px;
	width: 552px;
	height: 225px;
	color: #FFFFFF;
	margin-top: 30px;
}
.diler_content_text p {
	margin-top: 15px;
}
.diler_content_button {
	margin-top: 50px;
}
.diler_content_lines {
	margin-left: auto;
	margin-top: 197px;
}
.news_wrap {
	margin-top: 76px;
}
.news {
	display: flex;
	display: -webkit-flex;
}
.news_caption h1 {
	font-size: 50px;
	line-height: 58px;
	font-family: 'Conv_FuturaDemiC';
	color: #666C6E;
}
.news_button {
	font-family: 'Conv_FuturaBookC';
	color: #666C6E;
	border: 1px solid #EDEDED;
	border-radius: 5px;
	font-size: 16px;
	line-height: 18px;
	width: 200px;
	height: 48px;
	margin-top: 2px;
	margin-right: 62px;
}
.news_button:hover {
	background-color: #666C6E;
	color: white;
}
.news_link {
	margin-left: auto;
	display: flex;
	display: -webkit-flex;
}
.news_arrows {
	display: flex;
	display: -webkit-flex;
	margin-top: 2px;
}
.news_arrows div,
.filters_arrows div,
.productCard_accessories_arrows div,
.otherFiltrationSystems_arrows div {
	width: 48px;
	height: 48px;
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	box-sizing: border-box;
	display: flex;
	display: -webkit-flex;
}
.news_arrows .news_arrows_prev,
.filters_arrows .filters_arrows_prev,
.productCard_accessories_arrows_prev,
.otherFiltrationSystems_arrows_prev {
	border-radius: 5px 0 0 5px;
}
.news_arrows .news_arrows_next,
.filters_arrows .filters_arrows_next,
.productCard_accessories_arrows_next,
.otherFiltrationSystems_arrows_next {
	border-radius: 0 5px 5px 0;
}
.news_arrows i,
.filters_arrows i,
.productCard_accessories_arrows i,
.otherFiltrationSystems_arrows i {
	margin: auto;
	font-size: 24px;
	opacity: 0.2;
	color: #666C6E;
}

.news_arrows_prev:hover i,
.news_arrows_next:hover i,
.filters_arrows_prev:hover i,
.filters_arrows_next:hover i,
.productCard_accessories_arrows_prev:hover i,
.productCard_accessories_arrows_next:hover i,
.otherFiltrationSystems_arrows_prev:hover i,
.otherFiltrationSystems_arrows_next:hover i {
	opacity: 1;
	cursor: pointer;
}
.news_slide {
	width: 358px;
	margin-top: 43px;
	margin-right: 30px;
	outline: none;
}
.news_slide:focus {
	outline: none;
}
.news_slide_data {
	margin-top: 10px;
	font-size: 18px;
	line-height: 20px;
	color: #666C6E;
	opacity: 0.7;
}
.news_slide_img {
	height: 230px;
	margin-top: 25px;
}
.news_slide_caption {
	font-size: 24px;
	line-height: 30px;
	color: #666C6E;
	margin-top: 31px;
}
.news_slide_text {
	margin-top: 16px;
	font-size: 18px;
	line-height: 27px;
	color: #666C6E;
	opacity: 0.7;
}
.slick-slide.slick-active {
	outline: none;
}
.questions_wrap {
	margin-top: 91px;
	height: 606px;
	display: flex;
	display: -webkit-flex;
}
.questions_content_wrap {
	flex: 1;
	background: #F5B5C9;
}
.questions_img {
	flex: 1;
	background: url(img/main/questions.jpg) no-repeat;
	background-size: cover;
}
.questions_caption {
	margin-top: 90px;
}
.questions_caption h1 {
	font-family: 'Conv_FuturaDemiC';
	font-size: 50px;
	line-height: 58px;
	color: #FFFFFF;
}
.questions_caption p {
	font-size: 22px;
	line-height: 30px;
	color: #FFFFFF;
	margin-top: 11px;
}
.questions_form {
	margin-top: 40px;
}
.questions_form .questions_consent {
	background-color: #F5B5C9;
	color: white;
}
.questions_checkbox_text {
	font-size: 16px;
	line-height: 27px;
	color: #FFFFFF;
	margin-left: 17px;
	position: relative;
	bottom: 3px;
}
.questions_form label {
	display: flex;
	display: -webkit-flex;
}
.questions_content_position {
	display: flex;
	display: -webkit-flex;
}
.questions_content {
	width: 455px;
	margin-left: auto;
	padding-right: 112px;
}
.questions_checkbox {
	width: 20px;
	height: 20px;
	border: 1px solid #ffffff5c;
	box-sizing: border-box;	
	font-size: 12px;
	color: transparent;
	text-align: center;
}
.questions_form input[type="text"],
.questions_form input[type="tel"] {
	border: none;
	border-bottom: 1px solid white;
	background-color: #F5B5C9;
	padding-bottom: 14px;
	font-family: 'Conv_FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	color: white;
	width: 214px;
}
.questions_form input::-moz-placeholder {
	font-family: 'Conv_FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	color: white;	
}
.questions_form input::-webkit-input-placeholder {
	font-family: 'Conv_FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	color: white;
}
.questions_consent:checked + label .questions_checkbox {
	color: white;
}
.questions_tel {
	margin-left: 22px;
}
.questions_form input[type="text"].questions_comment {
	width: 455px;
}
.questions_comment {
	margin-top: 35px;
}
.label_consent {
	margin-top: 38px;
}
.questions_button {
	width: 261px;
	margin-top: 45px;
	background-color: transparent;
}
.footer_wrap {
	background-color: #666C6E;
	padding-top: 78px;
}
.footer_info {
	height: 390px;
	display: flex;
	display: -webkit-flex;
}
.footer_info_filters {
	flex: 1;
}
.footer_info_filters a,
.footer_info_technologies a {
	display: block;
	margin-top: 24px;
}
.footer_info_filters a:first-child,
.footer_info_technologies a:first-child {
	margin-top: 0;
	margin-bottom: 48px;
}
.footer_info_info a {
	display: block;
	margin-top: 48px;
}
.footer_info_info a:first-child {
	margin-top: 0;
}
.footer_info_technologies {
	flex: 1;
	margin-left: 29px;
}
.footer_info_info {
	flex: 1;
	margin-left: 29px;
}
.footer_info_contacts {
	flex: 1;
	margin-left: 29px;
}
.footer_info_side {
	font-family: 'Conv_FuturaBookC';
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	opacity: 0.5;	
}
.footer_info_main {
	font-family: 'Conv_FuturaBookC';
	font-size: 24px;
	line-height: 30px;
	color: #FFFFFF;	
}
.footer_info .footer_info_button {
	width: 261px;
	margin-top: 32px;
}
.footer_info_address {
	margin-top: 32px;
}
.footer_info .footer_info_viewOnMap {
	font-size: 18px;
	line-height: 27px;
	text-decoration-line: underline;
	color: #FFFFFF;
	margin-top: 8px;
	display: block;
}
.footer_wrap {
	height: 582px;
	box-sizing: border-box;
}
.footer_copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.1);

}
.footer_copyright_content {
	display: flex;
	margin-top: 40px;
}
.footer_copyright_content_copyright p,
.footer_copyright_content_development p {
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
	opacity: 0.5;
	display: inline-block;	
}
.footer_copyright_content_copyright {
	flex: 2;
}

.footer_copyright_content_development,
.footer_copyright_content_social {
	flex: 0.95;
}
.footer_copyright_content_social ul {
	display: flex;
}
.footer_copyright_content_social i {
	color: white;
	font-size: 22px;
}
.footer_copyright_content_social li {
	margin-top: 5px;
	margin-left: 45px;
}
.footer_copyright_content_social li:first-child {
	margin-left: 18px;
}
.footer_copyright_content_development span {
	opacity: 1;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;
}
.viewAll {
    margin-left: auto;
    display: flex;
    display: -webkit-flex;
    margin-top: 3px;
}
.filters_article_slider_margin {
	margin-right: 31px;
}
.filters_article_slider_margin:last-child {
	margin-right: 0px;
}





.systemFiltered a,
.systemFiltered .header_nav_contacts_phone {
	color: white;
}

.systemFiltered .header_nav_contacts_phone {
	border-right: 1px solid #EDEDED;
}
.breadcrumb a {
	font-size: 14px;
	line-height: 16px;
	color: #666C6E;
	opacity: 0.8;	
}
.breadcrumb {
	margin-top: 21px;
}
.systemFiltered .filters {
	margin-top: 30px;
}
.list_articles,
.accessories_list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 43px;
}
.list_articles_margin {
	margin-bottom: 31px;
	margin-right: 30px;
}
.list_articles_margin:nth-child(3n) {
	margin-right: 0;
}
.accessories_caption h1,
.otherFiltrationSystems_caption h1 {
	font-family: 'Conv_FuturaDemiC';
	font-size: 32px;
	line-height: 37px;
	color: #666C6E;	
}
.accessories {
	margin-top: 28px;
}
.news_img {
	flex: 1;
	background: url(img/main/questions.jpg) no-repeat;
	background-size: cover;
}
.news {
	margin-top: 68px;
}
.systemFiltered .news_caption {
	margin-top: 122px;
}
.news_form {
	margin-top: 60px;
}
.news_form input::-moz-placeholder {
	font-family: 'Conv_FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	color: white;	
}
.news_form input::-webkit-input-placeholder {
	font-family: 'Conv_FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	color: white;
}
.questions_consent:checked + label .questions_checkbox {
	color: white;
}
.news_form input[type="email"] {
	border: none;
	border-bottom: 1px solid white;
	background-color: #6087A4;
	padding-bottom: 14px;
	font-family: 'Conv_FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	color: white;
	width: 454px;
}
.systemFiltered_news_button:hover {
	background-color: #FFFFFF;
	color: #6087A4;
}
.header_nav_media {
	display: none;
}
.main_slider .slick-dots {
	display: none !important;
}
.productCard_content_wrap {
	margin-top: 19px;
}
.productCard_content_left {
	flex: 1;
	display: flex;
	position: relative;
}
.productCard_content_magnesium {
	position: absolute;
	left: 0;
	top: 33px;
	width: 180px;
}
.productCard_content_left .productCard_content_img {
	width: 469px;
	height: 469px;
	margin-left: auto;
	margin-right: 47px;
}
.productCard_content_right {
	flex: 1;
	margin-right: auto;
}
.productCard_content_appoint {
	display: flex;
	flex-wrap: wrap;
	margin-top: 18px;
}
.appoint {
	font-size: 16px;
	line-height: 27px;
	display: flex;
	margin-right: 24px;
}
.appoint p {
	margin-top: 5px;
	margin-left: 16px;
}
.appoint_coffee {
	color: #D4B53D;
}
.appoint_plate {
	color: #5EC4E1;
}
.productCard_content_text {
	font-size: 18px;
	line-height: 27px;
	color: #666C6E;
	opacity: 0.8;
	margin-top: 24px;
}
.productCard_content_caption h1{
	font-size: 50px;
	font-family: 'Conv_FuturaDemiC';
	line-height: 58px;
	color: #666C6E;
}
.productCard_content_content {
	margin-left: 15px;
	margin-top: 21px;
}
.productCard_content_button {
	display: flex;
	margin-top: 32px;
}
.productCard_button {
	width: 250px;
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	box-sizing: border-box;
	color: #6087A4;
	margin-right: 24px;
}
.productCard_button:hover {
	color: white;
	background-color: #6087A4; 
}
.diler_wrap {
	display: flex;
}
.diler_content {

}
.description_wrap {
	margin-top: 28px;
	font-size: 18px;
	line-height: 27px;
	color: #666C6E;
	opacity: 0.8;	
}
.display_none2 {
	display: none;
}
.description_wrap .description_tabs {
	opacity: 1;
	border-bottom: 1px solid #EDEDED;
	display: flex;
	box-sizing: border-box;
}
.description_tabs_content {
	width: 844px;
	margin-top: 38px;
}
.description_tabs_content h3 {
	margin-top: 19px;
	font-size: 24px;
	line-height: 35px;
}
.description_tabs div {
	margin-right: 33px;
	cursor: pointer;
}
.description_description,
.description_advantage,
.description_characteristics {
	padding-bottom: 20px;
}
.description_tabs .description_tabs_line {
	cursor: default;
	border-bottom: 3px solid #6087A4;
}
.description_tabs_content p {
	margin-top: 17px;
}
.description_tabs_active p {
	opacity: 0.5;
}
.productCard_accessories_wrap,
.otherFiltrationSystems_wrap {
	margin-top: 59px;
}
.productCard_accessories,
.otherFiltrationSystems {
	display: flex;
}
.productCard_accessories_slider {
	margin-top: 31px;
}
.otherFiltrationSystems_slider {
	margin-top: 26px;
}
.productCard_accessories_arrows,
.otherFiltrationSystems_arrows {
	display: flex;
	margin-left: auto;
}
.list_articles_productCard_margin {
	margin-right: 30px;
}
.otherFiltrationSystems .viewAll {
	position: relative;
	top: -8px;
}
.productCard_accessories_arrows {
	position: relative;
	top: -3px;
}
.productCard .news {
	margin-top: 100px;
}
.filters_filter {
	display: flex;
	box-sizing: border-box;
	width: 138px;
	height: 48px;
	background: #FFFFFF;
	border: 1px solid #EDEDED;	
	margin-left: 16px;
	margin-top: 6px;
}
.filters_filter p {
	font-size: 16px;
	line-height: 18px;
	color: #666C6E;
	margin: auto;
}
.filters_appoint {
	width: 250px;
	height: 48px;
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	margin-top: 6px;
	margin-left: 41px;
	box-sizing: border-box;
}
.systemFiltered .filters_appoint {
	margin-left: auto;
}
.view6 {
	width: 312px;
	height: 48px;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	color: #666C6E;
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	box-sizing: border-box;	
	display: none;
}
.view6 p {
	margin: auto;
}
.footer_info i {
	display: none;
}
.productCard_breadcrumb {
	display: none;
}
.wrap_systemFiltered .header_wrap_backgrond_img_red,
.wrap_productCard .header_wrap_backgrond_img_red{
	background-color: #F5B5C9;
	height: auto;
}
.display_none {
	display: none;
}






@media (max-width: 600px){
	.header_content_img_img {
	    position: absolute;
	    left: -92px;
	    top: 84px;
	}
	.header_content_text {
	    width: 312px;
	    margin-top: 20px;
	    text-align: center;
	}
		.header_content {
		flex-wrap: wrap-reverse;
	}
	.productCard_content_text_more {
		cursor: pointer;
	}
	.otherFiltrationSystems_caption h1 {
		font-size: 30px;
		line-height: 35px;
	}
	.otherFiltrationSystems .viewAll {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	}
	.otherFiltrationSystems {
		position: relative;
	}
	.otherFiltrationSystems_wrap {
	    margin-top: 36px;
	}
	.list_articles_productCard_margin {
	    margin-right: 16px;
	}
	.productCard_accessories_slider {
	    margin-top: 27px;
	}
	.productCard_accessories_wrap {
		margin-top: 11px;
	}
	.description_tabs_content h3 {
		font-size: 20px;
		line-height: 35px;	
		margin-top: 15px;	
	}
	.description_tabs_content p {
	    margin-top: 13px;
	}
	.description_tabs_content {
		font-size: 16px;
		line-height: 24px;
	}
	.description_tabs_content {
		width: auto;
		margin-top: 0px;
	}
	.description_description, 
	.description_advantage, 
	.description_characteristics {
    padding-bottom: 14px;
}
	.description_characteristics {
		line-height: 36px;
	}
	.description_tabs p {
		margin: auto 0;
	}
	.description_wrap {
		margin-top: 15px;
		font-size: 16px;
		line-height: 18px;
	}
	.diler_img {
	    background: url(img/main/cofee2.jpg) no-repeat;
	    background-size: cover;
	}
	.productCard_content_button {
		flex-wrap: wrap;
		margin-top: 19px;
	}
	.main_slider .slick-dots {
		display: flex !important;
	}
	.productCard_button {
		width: 312px;
		margin-bottom: 24px;
	}
	.wrapper .news {
		margin-top: 36px;
	}
	.productCard_content_text_more {
		cursor: pointer;
		font-size: 16px;
		line-height: 24px;
		color: #6087A4;
	}
	.productCard_content_text p {
		display: inline;
	}
	.productCard_content_text {
		font-size: 16px;
		line-height: 24px;
	}
	.productCard_content_content,
	.productCard_content_text {
		margin: 0;
	}
	.productCard_content_caption,
	.productCard_content_appoint {
		display: none;
	}
	.productCard_content_magnesium {
		top: 50PX;
	}
	.productCard_content_wrap {
    margin-top: 16px;
}
	.productCard_content_left {
		display: block;
	}
	.productCard_content_wrap .flex {
		display: block;
	}
	.productCard_content_left_caption h1 {
		font-family: 'Conv_FuturaDemiC';
		font-size: 29.9px;
		line-height: 35px;
		color: #666C6E;
	}
	.productCard_content_left .productCard_content_img {
		width: 248px;
		height: 248px;
		margin: 44px auto 0 auto;
	}
	.productCard_content_img img {
		width: 248px;
		height: 248px;
	}
	.systemFiltered_breadcrumb {
		display: flex;
		flex-wrap: wrap;
	}
	.productCard_breadcrumb {
		display: block;
	}
	.footer_info i {
		display: block;
	}
	.header_nav {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		position: relative;
	}
	.header_nav_nav,
	.header_nav_contacts {
		padding-left: 179px;
		display: flex;
		flex-direction: column;
		margin-bottom: 14px;
	}
	
	.header_nav_nav li:first-child {
	    margin-left: 0;
	}
	.header_nav_nav li {
	    display: block;
	    margin-left: 0;
	    margin-top: 10px;
	}
	.systemFiltered .header_nav_contacts_phone,
	.header_nav_contacts_phone {
	    border-right: 0;
	}
	.header_nav_contacts_phone {
		margin: 14px 0 0 0;
		padding: 0;
	}
	.header_nav_nav {
		margin-top: 0;
	}
	.header_nav_nav li {
		text-align: right;
	}
	.header_nav_contacts_dealer {
	    margin-top: 14px;
	}
	.header_content_text h1 {
		font-size: 30px;
		line-height: 35px;
	}
	.header_content_line {
		display: none;
	}
	.header_content_button {
		flex-wrap: wrap;
		margin: 0 auto;
		text-align: center;
		width: 312px;
	}
	.button220 {
		width: 312px;
		margin-top: 24px;
	}
	.header_content_button_more {
	    margin-left: 0px;
	}
	.header_content_text p {
		font-size: 18px;
		line-height: 30px;	
		width: 266px;
		margin: 0 auto;	
		margin-top: 10px;
	}
	.container,
	.inner_container {
		padding: 0 24px;
		max-width: 360px;
	}
	.header_content_img {
		margin-left: 120px;
		margin-top: 39px;
		width: 138px;
		height: 209px;
	}
	.header_content_img img {
	    width: 138px;
	    height: 209px;
	}
	.header_content_img_img img {
		width: 121px;
		height: 121px;
	}
	.systemFiltered .header_nav_logo {
	    margin-bottom: 11px;
	}
	.filters_caption h1,
	.accessories_caption h1,
	.questions_caption h1 {
	    font-size: 30px;
	    line-height: 35px;
	}
	.questions_caption p {
		font-size: 18px;
		line-height: 30px;
		margin-top: 5px;
	}
	.filters_caption {
		width: 100%;
	}
	.systemFiltered .filters {
	    margin-top: 23px;
	}
	.filters_filter p {
	    display: none;
	}
	.filters_filter {
		width: 48px;
    	margin-top: 18px;
    	margin-left: 16px;
	}
	.filters_filters {
		margin-left: auto;
	}
	.filters {
		flex-wrap: wrap;
	}
	.filters_appoint {
		margin-left: 0 !important;
		margin-top: 18px;
		width: 248px;
	}
	.list_articles {
	    margin-top: 24px;
		justify-content: center;
	}
	.article_wrap {
		width: 266px;
		height: 428px;
	}
	.list_articles .article_wrap {
		width: 312px;
		height: 404px;
	}
	.list_articles_margin {
		margin-right: 0;
		margin-bottom: 24px;
	}
	.article_appoint img {
		width: 23.64px;
		height: 23.64px;
	}
	.article {
		padding: 20px 23px;
	}
	.article_wrap:hover .article_caption {
		margin-top: 0;
	}
	.article_wrap:hover .article_img {
		position: static;
		opacity: 1;
	}
	.article_wrap:hover {
		box-shadow: none;
	}
	.article_img {
		height: 210px;
		margin-top: 0;
	}
	.article_img img {
		height: 210px;
	}
	.article_caption h1 {
		font-size: 20px;
		line-height: 22px;
	}
	.article_caption {
		height: 44px;
	}
	.article_description p {
		font-size: 16px;
		line-height: 24px;
		opacity: 1;
		margin-top: 4px;
	}
	.article_wrap:hover .article_button {
		display: none;
	}
	.accessories {
		margin-top: 38px;
	}
	.view6 {
		display: flex;
	}
	.accessories_list {
		margin-top: 26px;
	}
	.accessories .list_articles_margin {
		margin-right: 16px;
	}
	.inner_container_left {
		padding-left: 24px;
		max-width: 360px;
	}
	.questions_content {
		margin: 38px auto 50px auto;
		text-align: center;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		width: 360px;
		padding: 0 24px;
	}
	.questions_wrap {
		flex-direction: column-reverse;
		box-sizing: border-box;
	}
	.news_img {
		height: 248px;
		flex: inherit;
	}
	.systemFiltered .news_caption,
	.questions_caption {
		margin-top: 0;
	}
	.news {
		margin-top: 16px;
	}
	.questions_form {
		margin-top: 40px;
	}
	.news_form input[type="email"] {
		max-width: 312px;
	}
	.questions_button {
		width: 312px;
		padding: 0 50px;
		/*margin-left: auto;*/
		/*margin-right: auto;*/
		margin-top: 38px;
	}
	.questions_wrap {
		height: auto;
	}
	.list_articles_margin:nth-child(n+7) {
		display: none;
	}
	.footer_wrap {
		height: auto;
	}
	.footer_info {
		flex-direction: column;
		height: auto;
	}
	.footer_info_main {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		font-size: 20px;
		line-height: 25px;
		box-sizing: border-box;
		height: 74px;
		max-width: 360px;
		display: flex;
	}
	.footer_info_side {
		font-size: 16px;
		line-height: 27px;
	}
	.footer_info_filters,
	.footer_info_technologies,
	.footer_info_info,
	.footer_info_contacts {
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	.footer_info_filters_main,
	.footer_info_technologies_main {
		display: flex;
		cursor: pointer;
	}
	.footer_info i {
		margin-left: auto;
		color: white;
		margin-top: 22px;
		font-size: 21px;
	}
	.footer_info p {
		margin: auto 0;
	}
	.footer_info_filters a,
	.footer_info_technologies a,
	.footer_info_info a,
	.footer_info_contacts a {
		margin: 0;
		display: flex;
	}
	.footer_info_filters .displayNone_media, 
	.footer_info_technologies .displayNone_media {
		display: none;
	}
	.footer_info_contacts_tel {
		border: 0px;
	}
	p.footer_info_contacts_tel {
		padding: 0 76px;
		margin-top: 33px;
		height: auto;
	}
	p.footer_info_contacts_graph {
		height: auto;
		margin: auto;
		margin-top: 3px;
	}
	.footer_info .footer_info_button {
		width: 312px;
		margin-top: 24px;
	}
	p.footer_info_address {
		text-align: center;
		margin-top: 24px;
	}
	.footer_info_contacts a {
		text-align: center;
	}
	.footer_info_contacts {
		margin-bottom: 33px;
		flex: inherit;
	}
	.footer_info_contacts .footer_info_main {
		-webkit-text-fill-color: white;
	}
	.footer_copyright_content {
		flex-direction: column;
	}
	.footer_copyright_content .footer_copyright_content_copyright {
		flex: inherit;
		margin: 0 auto;
		text-align: center;
	}
	.footer_copyright_content .footer_copyright_content_development {
		flex: inherit;
		margin: 0 auto;
		text-align: center;
		margin-top: 16px;
	}
	.footer_copyright_content .footer_copyright_content_social {
		flex: inherit;
		padding: 0 68px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 31px;
	}
	.footer_copyright_content_social p,
	.footer_copyright_content_development p,
	.footer_copyright_content_copyright p {
		line-height: 27px;
		font-size: 16px;
	}
	.footer_copyright_content {
		margin-top: 31px;
	}
	.footer_copyright_content_development span {
		font-size: 16px;
	}
	.footer_wrap {
		padding-top: 0;
	}

	.displayNone_media {
		display: none;
	}
	.header_nav_media {
		display: block;
		position: absolute;
		cursor: pointer;
		right: 24px;
		top: 29px;
	}
	.header_nav_nav ul {
		margin: 0 auto;
	}
	.productCard .breadcrumb:nth-child(2) {
		display: none;
	}
	.productCard_breadcrumb {
		width: 24px;
		height: 24px;
		margin: 0 6px;
		position: relative;
		top: -4px;
		cursor: pointer;
	}
	.questions_form input[type="text"], 
	.questions_form input[type="tel"] {
		width: 312px;
	}
	.questions_form input[type="text"].questions_comment {
	    width: 312px;
	}
	.questions_tel {
		margin-top: 35px;
		margin-left: 0;
	}
	.header_wrap_backgrond .header_nav_logo {
		margin-bottom: 15px;
	}
	.main_slider {
		position: relative;
	}
	.slick-dots {
		display: flex;
		position: absolute;
		left: 122px;
		bottom: 25px;
	}
	
	.slick-dots li {
		width: 20px;
		height: 20px;
		border-bottom: 1px solid white;
		opacity: 0.3;
		margin-right: 16px;
	}
	.slick-dots button {
		box-sizing: border-box;
		padding: 0 17px;
		padding-bottom: 1px;
		color: white;
		display: none;
		font-size: 10px;
		line-height: 12px;
		background-color: transparent;
	}
	.slick-dots .slick-active button {
	    display: block;
	}
	.slick-dots .slick-active {
		opacity: 1;
		width: 40px;
	}
	.header_content_button {
		margin-bottom: 72px;
	}
	.header_wrap_backgrond_img_red,
	.header_wrap_backgrond_img_blue {
		height: auto;
	}
	.filters {
		margin-top: 28px;
	}
	.filters_article {
	    margin-top: 25px;
	}
	.filters_article_slider_margin {
		margin-right: 16px;
	}
	.news_button {
		width: 312px;
		margin-top: 23px;
	}
	.productCard .news {
	    margin-top: 41px;
	}
	.diler_wrap {
	    margin-top: 41px;
	    display: flex;
	    flex-direction: column;
	}
	.diler {
		flex-direction: column;
	}
	.diler_content_text {
		font-size: 18px;
	}
	.diler_img {
		flex: inherit;
		height: 248px;
		width: 100%;
	}
	.diler_content_content {
		margin: 0 auto;
		max-width: 360px;
		padding: 0 24px;
		text-align: center;
	}
	.diler_content_text {
		width: 312px;
	}
	.diler_content {
		flex: inherit;
		position: relative;
		height: auto;
	}
	.diler_content_line img {
		width: 52px;
		height: 9px;
	}
	.diler_content_lines img {
		height: 164px;
		width: 50px;
	}
	.diler_content_button {
		margin-top: 122px;
		margin-bottom: 51px;
	}
	.diler_content_line {
	    margin-top: 21px;
	}
	.diler_content_text  {
		margin-top: 19px;
	}
	.diler_content_lines {
		position: absolute;
		right: 96px;
		top: 73px;
	}
	.news_caption h1 {
		font-size: 30px;
		line-height: 35px;
	}
	.diler_content_content {
	    margin: 0 auto;
	    margin-top: 38px;
	    text-align: center;
	}
	.diler_content h1 {
		font-size: 30px;
		line-height: 35px;
	}
	.display_none2 {
		display: block;
	}
	.news_wrap {
	    margin-top: 31px;
	}
	.news_slide {
		width: 266px;
		height: 412px;
		margin-top: 10px;
		margin-right: 24px;
	}
	.questions_consent {
		display: none;
	}
	.news_slide_caption {
		font-size: 20px;
		line-height: 25px;
		margin-top: 22px;
	}
	.news_slide_text {
		margin-top: 13px;
		font-size: 16px;
		line-height: 24px;		
	}
	.news_slide_data {
		font-size: 16px;
		line-height: 18px;
		margin-top: 16px;
	}
	.news_slide_img {
	    margin-top: 17px;	
		width: 266px;
		height: 171px;
	}
	.news_slide_img img {
		width: 266px;
		height: 171px;
	}
}





@media (max-width: 330px){
	.filters_appoint {
		width: 200px;
	}
}